@import url('https://fonts.googleapis.com/css2?family=Acme&family=Sora:wght@300;500;600;700& display=swap');

:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

body {
  font-family: Sora, "sans-serif";
  line-height: 1.7;
  color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: var(--dark);
  font-weight: 700;
}

a {
  color: var(--dark);
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.hero h1 {
  font-size: 4rem;
}

/* ----------NAVBAR---------- */
.navbar {
  box-shadow: var(--box-shadow);
  background-color: rgba(0, 0, 0, .7);
}

.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
  font-weight: 700;
  transition: all .7s ease;
  color: white;
}

.navbar .nav-link:hover {
  font-size: 23px;
  text-decoration: overline;

}

.img_logo {
  width: 50px;
  height: 50px;
}

.miNavbar {
  font-size: 1.5rem;
}

.nav-link {
  color: #fff;
}


.navbar-toggler {
  background-color: var(--primary);
}

/* ----------HERO---------- */
.hero {
  background-image: url(../assets/Hero.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* ----------SERVICES---------- */
section {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding: 100px 0px;
}

.card-effect {
  box-shadow: var(--box-shadow);
  background-color: #fff;
  padding: 25px;
  transition: all 0.35s ease;
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.iconbox {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: #fff;
  font-size: 30px;
  border-radius: 100px;
}

.service {
  transition: all .5s ease;
}

.service:hover .iconbox {
  background-color: #fff;
  color: red;
}

.service:hover {
  background-color: var(--primary);
}

.service:hover h5,
.service:hover p {
  color: #fff;
}


/* ----------SKILLS---------- */

.skills__iconos {
  font-size: 3rem;
  transition: all .5s ease;
}

.skills__iconos:hover {
  scale: 1.5;
}

.barrita {
  transition: all .5s ease;
}

.barrita:hover {
  transform: scale(1.05);
  height: 22px;
}

.violeta {
  color: blueviolet;
}

.azul {
  color: blue;
}

.amarillo {
  color: rgb(255, 179, 0);
}

.celeste {
  color: cadetblue;
}

/* ----------FEATURES---------- */
.col-img {
  background-image: url(../assets/Features.webp);
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

/* ----------PROYECTS---------- */
.project {
  position: relative;
  z-index: 2;
  overflow: hidden;
  height: 300px;
  box-shadow: 3px 3px 5px black;
  border: solid 1px black;
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 30px;
  display: flex;
  place-content: center;
  align-items: center;
  transition: all .4s ease;
  opacity: 0;
}

.project img,
.link_project {
  transition: all .4s ease;
}

.project:hover .overlay {
  opacity: 1;
}

.project:hover img {
  transform: scale(1.1);
}

.link_project:hover {
  font-size: 1.7rem;
  text-decoration: underline;
}

/* ----------CONTACT---------- */

/* ----------FOOTER---------- */
.footer {
  padding: 30px;
  background-color: var(--dark);
}

.footer .logo {
  width: 150px;
  height: 150px;
}

@media (max-width:765px) {
  .footer .logo {
    width: 90px;
    height: 90px;
  }
}

.contenedor__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul {
  list-style: none;
}

.footer a {
  color: #888;
}

.footer a:hover {
  color: #fff;
}